.about {
    padding-left: 5%;
    padding-right: 5%;
}

.about h3 {
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    
}

.about p {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    text-indent: 50px;
}